@model Switch_and_Shift.Models.Reports_Admin

@{
    ViewData["Title"] = "Create";
     Layout = "~/Views/Layouts/_AdminLayout.cshtml";
}


<div class="container justify-content-center">

    <div class="row justify-content-center ">
    <div class="col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="reporter_email" class="control-label"></label>
                <input asp-for="reporter_email" class="form-control" />
                <span asp-validation-for="reporter_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reportee_email" class="control-label"></label>
                <input asp-for="reportee_email" class="form-control" />
                <span asp-validation-for="reportee_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reportee_name" class="control-label"></label>
                <input asp-for="reportee_name" class="form-control" />
                <span asp-validation-for="reportee_name" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="reporter_name" class="control-label"></label>
                <input asp-for="reporter_name" class="form-control" />
                <span asp-validation-for="reporter_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="report_show" class="control-label"></label>
                <input asp-for="report_show" class="form-control" />
                <span asp-validation-for="report_show" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
        </form>
    </div>

  

</div>
   
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
